/* Estilos para barra lateral fija */
.sidebar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding-top: 0;
    overflow-y: auto;
}

/* Ajuste del contenido principal con sidebar fijo */
@media (min-width: 768px) {
    .col-md-9.col-lg-10.px-md-4 {
        margin-left: 25%; /* Ajuste para col-md-3 */
    }
}

@media (min-width: 992px) {
    .col-md-9.col-lg-10.px-md-4 {
        margin-left: 16.666667%; /* Ajuste para col-lg-2 */
    }
}

/* Estilos adicionales para móviles */
@media (max-width: 767.98px) {
    .sidebar-fixed {
        position: relative;
    }
    
    .col-md-9.col-lg-10.px-md-4 {
        margin-left: 0;
    }
}
